{% extends "logged_in.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">

        <h1><small>Settings</small></h1>

        <ul class="nav nav-tabs">
            <li><a href="{% url '/settings/facility.html' %}">Facility</a></li>
            <li class="active"><a href="{% url '/settings/orderers/index.html' %}">Orderers</a></li>
            <li><a href="{% url '/settings/account.html' %}">Account</a></li>
            <li><a href="{% url '/settings/password.html' %}">Password</a></li>
        </ul>

        <form action="" method="post">
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first-name">First name</label>
                            <input type="text" class="form-control" id="first-name" value="Don" placeholder="" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last-name">Last name</label>
                            <input type="text" class="form-control" id="last-name" value="Draper" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Phone</label>
                    <input type="email" class="form-control" id="email" value="(212) 555-0112" placeholder="">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" value="don@sterlingcooper.com" placeholder="">
                </div>
                <div class="form-group">
                    <label for="npi">NPI</label>
                    <input type="text" class="form-control" id="npi" value="1164614772" placeholder="">
                </div>
                <div class="form-group">
                    <label for="active">Status</label>
                    <div class="checkbox">
                        <label><input type="checkbox" id="active" checked="checked"> Active</label>
                    </div>
                </div>
            </section>
            <section>
                <p class="pull-left"><a href="{% url '/settings/orderers/index.html' %}" class="btn btn-default">Cancel</a></p>
                <p class="pull-right"><a href="{% url '/settings/orderers/index.html' %}" class="btn btn-success">Save changes</a></p>
            </section>
        </form>

    </div>
</div>

{% endblock %}
