{% extends "logged_in.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        
        <nav>
            <ul class="pager pager-sm">
                <li class="previous"><a href="{% url '/patients/index.html' %}"><span class="glyphicon glyphicon-chevron-left"></span> Back to patients</a></li>
            </ul>
        </nav>

    </div>
    <div class="col-sm-9">

        <h1><small>Don Draper</small></h1>

        <section>
            <p><small>(212) 555-0112<br><a href="mailto:don@sterlingcooper.com">don@sterlingcooper.com</a><br>6/1/1926</small></p>
        </section>
        <section>
            <p><a class="btn btn-success btn-sm btn-success-outline" href="{% url '/appointments/new/1.html' %}"><span class="glyphicon glyphicon-plus"></span> Create appointment</a> <a class="btn btn-default btn-sm" href="{% url '/patients/don-draper/edit/general.html' %}">Edit patient</a></p>
        </section>

    </div>
    <div class="col-sm-2">
        
        <img src="{% static '/static/images/patient.png' %}" class="img-responsive img-circle center-block img-avatar">

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <section>
            <h2><small>Appointments</small></h2>
            <div class="table-responsive">
                <table class="table table-condensed table-row-link">
                    <thead>
                        <tr>
                            <th class="text-right">Scheduled for</th>
                            <th>Provider</th>
                            <th>Procedure</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/14/2015</a></td>
                            <td>Naperville Imaging Center</td>
                            <td>X-Ray- Orthopedic</td>
                            <td><span class="label label-default">Requested</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/7/2015</a></td>
                            <td>Upright MRI of Deerfield</td>
                            <td>DEXA- Bone Density</td>
                            <td><span class="label label-warning">Booked</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/30/2015</a></td>
                            <td>Imaging Centers of America, Inc.</td>
                            <td>Mammogram- Diagnostic</td>
                            <td><span class="label label-success">Confirmed</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/23/2015</a></td>
                            <td>Open MRI of Olympia Fields, LLC</td>
                            <td>Mammogram- Screening</td>
                            <td><span class="label label-info">Completed</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/16/2015</a></td>
                            <td>Chicago Northside MRI</td>
                            <td>MRI- Orthopedic Without then With Contrast Medium</td>
                            <td><span class="label label-primary">Rescheduled</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/9/2015</a></td>
                            <td>Midwest Imaging and Diagnostic Center, Inc.</td>
                            <td>MRI- Orthopedic With Contrast Medium</td>
                            <td><span class="label label-danger">Canceled</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/14/2015</a></td>
                            <td>Naperville Imaging Center</td>
                            <td>X-Ray- Orthopedic</td>
                            <td><span class="label label-default">Requested</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/7/2015</a></td>
                            <td>Upright MRI of Deerfield</td>
                            <td>DEXA- Bone Density</td>
                            <td><span class="label label-warning">Booked</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/30/2015</a></td>
                            <td>Imaging Centers of America, Inc.</td>
                            <td>Mammogram- Diagnostic</td>
                            <td><span class="label label-success">Confirmed</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/23/2015</a></td>
                            <td>Open MRI of Olympia Fields, LLC</td>
                            <td>Mammogram- Screening</td>
                            <td><span class="label label-info">Completed</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/16/2015</a></td>
                            <td>Chicago Northside MRI</td>
                            <td>MRI- Orthopedic Without then With Contrast Medium</td>
                            <td><span class="label label-primary">Rescheduled</span></td>
                        </tr>
                        <tr>
                            <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/9/2015</a></td>
                            <td>Midwest Imaging and Diagnostic Center, Inc.</td>
                            <td>MRI- Orthopedic With Contrast Medium</td>
                            <td><span class="label label-danger">Canceled</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav class="clearfix">
                <div class="pull-left">
                    <ul class="pager pager-sm">
                        <li class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="pager pager-sm">
                        <li class="next"><a href="#">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>
                </div>
                <div class="text-center">
                    <ul class="pagination pagination-sm">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </nav>
        </section>

    </div>
</div>

{% endblock %}
