<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Next Health Choice</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static '/static/css/bootstrap.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
        <script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>
    </head>

    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "/index.html" %}">Next Health Choice</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% block signup_active %}{% endblock %}"><a href="{% url "/signup.html" %}">Sign up</a></li>
        </div><!--/.navbar-collapse -->          
      </div>
    </div>

    {% block body %}
    {% endblock %}

    <script src="{% static '/static/js/vendor/jquery.js' %}"></script>
    <script src="{% static '/static/js/vendor/bootstrap.js' %}"></script>
    <script src="{% static '/static/js/main.js' %}"></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>
