<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Next Health Choice</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static '/static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/static/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static '/static/js/vendor/chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
    <link rel="shortcut icon" href="{% static '/static/images/favicon.ico' %}">
    <script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>
</head>

<body class="{% block body_class %}{% endblock %}">

<header>
    {% block header %}
    {% endblock %}
</header>

<main>
    {% block body %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

<script src="{% static '/static/js/vendor/jquery.min.js' %}"></script>
<script src="{% static '/static/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static '/static/js/vendor/moment.min.js' %}"></script>
<script src="{% static '/static/js/vendor/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static '/static/js/vendor/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static '/static/js/main.js' %}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>
