{% extends "base.html" %}

{% block header %}
<a class="navbar-brand" href="{% url "/dashboard.html" %}">Next Health Choice</a>
{% endblock %}

{% block nav %}
<li><a href="{% url '/dashboard.html' %}">Dashboard</a></li>
<li><a href="{% url '/patients/index.html' %}">Patients</a></li>
<li><a href="{% url '/appointments/index.html' %}">Appointments</a></li>
{% endblock %}

{% block navbar_nav %}
<li><a href="{% url '/settings.html' %}">Settings</a></li>
<li><a href="{% url '/index.html' %}">Log out</a></li>
{% endblock %}

{% block footer %}
<p><small>&copy; {% now "Y" %} <a href="{% url '/dashboard.html' %}">Next Health Choice</a>.</small></p>
{% endblock %}
