{% extends "appointments/new/wizard.html" %}

{% block wizard_nav %}
<li><a href="{% url '/appointments/new/1.html' %}">Patient</a></li>
<li><a href="{% url '/appointments/new/2.html' %}" class="active">Procedure</a></li>
<li><a href="{% url '/appointments/new/3.html' %}">Insurance</a></li>
<li><a href="{% url '/appointments/new/4.html' %}">RQI</a></li>
<li><a href="{% url '/appointments/new/5.html' %}">Preauthorization</a></li>
<li><a href="{% url '/appointments/new/6.html' %}">Dates</a></li>
{% endblock %}

{% block wizard_form %}
<form action="">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="state">CPT code</label>
                    <select class="form-control" id="state">
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                        <option value="12345">12345</option>
                    </select>           
                </div>
            </div>
        </div>
    </section>
    <section>
        <nav>
            <ul class="pager">
                <li class="previous"><a href="{% url '/appointments/new/1.html' %}"><span aria-hidden="true">&larr;</span> Patient</a></li>
                <li class="next"><a href="{% url '/appointments/new/3.html' %}">Insurance <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </section>
</form>
{% endblock %}
