{% extends "appointments/new/wizard.html" %}

{% block wizard_nav %}
<li><a href="{% url '/appointments/new/1.html' %}">Patient</a></li>
<li><a href="{% url '/appointments/new/2.html' %}">Insurance</a></li>
<li><a href="{% url '/appointments/new/3.html' %}">Procedure</a></li>
<li><a href="{% url '/appointments/new/4.html' %}">Provider</a></li>
<li><a href="{% url '/appointments/new/5.html' %}" class="active">Preauthorization</a></li>
{% endblock %}

{% block wizard_form %}
<form action="" method="post">
    <section>
        <p>Coming soon.</p>
    </section>
    <section>
        <div class="clearfix">
            <p class="pull-right"><a href="{% url '/appointments/12345/index-success.html' %}" class="btn btn-success">Schedule appointment</a></p>
            <nav>
                <ul class="pager pager-sm">
                    <li class="previous"><a href="{% url '/appointments/new/5.html' %}"><span class="glyphicon glyphicon-chevron-right"></span> Provider</a></li>
                </ul>
            </nav>
        </div>
    </section>
</form>
{% endblock %}
