{% extends "appointments/new/wizard.html" %}

{% block wizard_nav %}
<li><a href="{% url '/appointments/new/1.html' %}">Patient</a></li>
<li><a href="{% url '/appointments/new/2.html' %}">Procedure</a></li>
<li><a href="{% url '/appointments/new/3.html' %}">Insurance</a></li>
<li><a href="{% url '/appointments/new/4.html' %}">RQI</a></li>
<li><a href="{% url '/appointments/new/5.html' %}" class="active">Preauthorization</a></li>
<li><a href="{% url '/appointments/new/6.html' %}">Dates</a></li>
{% endblock %}

{% block wizard_form %}
<form action="">
    <section>
        <p>?</p>
    </section>
    <section>
        <nav>
            <ul class="pager">
                <li class="previous"><a href="{% url '/appointments/new/4.html' %}"><span aria-hidden="true">&larr;</span> RQI</a></li>
                <li class="next"><a href="{% url '/appointments/new/6.html' %}">Dates <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </section>
</form>
{% endblock %}
