{% extends "logged_in.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1><small>Create appointment</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <section>
            <ul class="nav-nhc nav nav-pills nav-stacked">
                {% block wizard_nav %}
                {% endblock %}
            </ul>
        </section>
    </div>
    {% block wizard_form_outer %}
    <div class="col-md-6">
        <section>
            <h2><small>{% block wizard_title %}{% endblock %}</small></h2>
            {% block wizard_form %}
            {% endblock %}
        </section>
    </div>
    {% endblock %}
</div>
{% endblock %}
