/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    /*font-family: -apple-system, ".SFNSText-Regular", "San Francisco Text", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;*/
    /*font-size: 16px;*/
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-left: 30px;
}
.right-inner-addon .glyphicon {
    position: absolute;
    left: 0;
    padding: 9px 12px;
    pointer-events: none;
    color: #aaa;
}

section {
    margin: 0 0 2rem;
}
h1, .h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}
h2, .h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}
h5, .h5 {
    margin-bottom: .5rem;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 75%;
}
footer {
    margin: 3rem 0;
}
.pager, .pagination {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.pager-sm > li > a,
.pager-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.nav-nhc .active {
    background-color: #f5f5f5;
}
h1 .btn, .h1 .btn {
    position: relative;
    top: -3px;
    left: 20px;
}
.btn-success-outline {
    background-color: #fff;
    color: #4cae4c;
}
.btn-danger-outline {
    background-color: #fff;
    color: #c9302c;
}
.img-avatar {
    margin-bottom: 2rem;
}
.text-bold {
    font-weight: bold;
}
.logged_out .logo {
    margin: 5rem auto;
    width: 70px;
    display: block;
}
.logged_in .navbar-brand {
    height: auto;
}
.logged_in .navbar-brand>img {
     max-height: 30px;
}
.logged_in .navbar-brand {
    padding: 10px 30px;
}
.block {
    display: block;
}
.nav-tabs {
    margin: 2rem 0 2rem;
}
.navbar-left {
    float: none !important;
}
.navbar-form .form-group {
    display: block;
}
.navbar-form .form-control {
    width: 100%;
}
@media (min-width: 768px) {
    .navbar-form {
        margin-left: -15px;
    }
}
.form-control {
    box-shadow: none;
    transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}
.form-control:focus {
    box-shadow: none;
}
.label {
    -webkit-font-smoothing: antialiased;
}
.label-appointment {
    padding: .66em 1em .66em
}
.help-block {
    margin-top: 1rem;
}
.panel-line {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.glyphicon-heart-red {
    color: #c9302c;
}
input[type="search"] {
    padding-left: 40px;
    padding-right: 16px;
    border-radius: 16px;
}
.alert {
    font-size: 14px;
    padding: 10px 14px;
}
/* Tables */

.table-condensed>tbody>tr>td {
    padding: 7px;
}
.table {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
}
.table .label {
    font-size: 11px;
}
.table tbody .btn {
    margin: -5px;
    text-align: left;
    padding: 5px;
}
.table-row-link tbody tr {
    cursor: pointer;
}
.table-row-link tbody tr:hover {
    background-color: rgba(0,0,0,.05);
}
.table-small {
    font-size: 85%;
}
.table-small>tbody>tr>td {
    border-top: none;
    padding: 4px;
}