{% extends "logged_in.html" %}

{% block content %}

<div class="row">
    <div class="col-md-10">

        <h1><small>Providers <a href="{% url '/providers/new/index.html' %}" class="btn btn-success btn-sm btn-success-outline"><span class="glyphicon glyphicon-plus"></span> Submit provider</a></small></h1>

        <nav>
            <ul class="pagination pagination-sm">
                <li class="active"><a href="{% url '/providers/index.html' %}"><span class="glyphicon glyphicon-heart"></span></a></li>
            </ul>
            <ul class="pagination pagination-sm">
                <li><a href="{% url '/providers/n.html' %}">A</a></li>
                <li><a href="{% url '/providers/n.html' %}">B</a></li>
                <li><a href="{% url '/providers/n.html' %}">C</a></li>
                <li><a href="{% url '/providers/n.html' %}">D</a></li>
                <li><a href="{% url '/providers/n.html' %}">E</a></li>
                <li><a href="{% url '/providers/n.html' %}">F</a></li>
                <li><a href="{% url '/providers/n.html' %}">G</a></li>
                <li><a href="{% url '/providers/n.html' %}">H</a></li>
                <li><a href="{% url '/providers/n.html' %}">I</a></li>
                <li><a href="{% url '/providers/n.html' %}">J</a></li>
                <li><a href="{% url '/providers/n.html' %}">K</a></li>
                <li><a href="{% url '/providers/n.html' %}">L</a></li>
                <li><a href="{% url '/providers/n.html' %}">M</a></li>
                <li><a href="{% url '/providers/n.html' %}">N</a></li>
                <li><a href="{% url '/providers/n.html' %}">O</a></li>
                <li><a href="{% url '/providers/n.html' %}">P</a></li>
                <li><a href="{% url '/providers/n.html' %}">Q</a></li>
                <li><a href="{% url '/providers/n.html' %}">R</a></li>
                <li><a href="{% url '/providers/n.html' %}">S</a></li>
                <li><a href="{% url '/providers/n.html' %}">T</a></li>
                <li><a href="{% url '/providers/n.html' %}">U</a></li>
                <li><a href="{% url '/providers/n.html' %}">V</a></li>
                <li><a href="{% url '/providers/n.html' %}">W</a></li>
                <li><a href="{% url '/providers/n.html' %}">X</a></li>
                <li><a href="{% url '/providers/n.html' %}">Y</a></li>
                <li><a href="{% url '/providers/n.html' %}">Z</a></li>
            </ul>
        </nav>

        <h2><small>Favorites</small></h2>

        <div class="table-responsive">
            <table class="table table-condensed table-row-link">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>NPI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right"><span class="glyphicon glyphicon-heart glyphicon-heart-red"></span></td>
                        <td><a href="{% url '/providers/12345/index.html' %}">Chicago Northside MRI</a></td>
                        <td>7735252818</td>
                        <td>Chicago</td>
                        <td>1902956923</td>
                    </tr>
                    <tr>
                        <td class="text-right"><span class="glyphicon glyphicon-heart glyphicon-heart-red"></span></td>
                        <td><a href="{% url '/providers/12345/index.html' %}">Imaging Centers of America, Inc. </a></td>
                        <td>630-898-3333</td>
                        <td>Aurora</td>
                        <td>1952678468</td>
                    </tr>
                    <tr>
                        <td class="text-right"><span class="glyphicon glyphicon-heart glyphicon-heart-red"></span></td>
                        <td><a href="{% url '/providers/12345/index.html' %}">Midwest Imaging and Diagnostic Center, Inc.</a></td>
                        <td>708-423-9982</td>
                        <td>Oak Lawn</td>
                        <td>1902844541</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}