{% extends "logged_in.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <h1>Providers <small><a href="{% url '/providers/new/index.html' %}" class="btn btn-success btn-sm btn-success-outline"><span class="glyphicon glyphicon-plus"></span> Add provider</a></small></h1>
            <form action="">
                <section>
                    <label for="provider-search" class="sr-only">Provider search</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Search for a provider" id="provider-search" autofocus="autofocus">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </section>
            </form>

            <nav>
                <ul class="pagination pagination-sm">
                    <li><a href="{% url '/providers/12345/index.html' %}">A</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">B</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">C</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">D</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">E</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">F</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">G</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">H</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">I</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">J</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">K</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">L</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">M</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">N</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">O</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">P</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">Q</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">R</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">S</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">T</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">U</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">V</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">W</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">X</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">Y</a></li>
                    <li><a href="{% url '/providers/12345/index.html' %}">Z</a></li>
                </ul>
            </nav>

            <h2><small>Recently added</small></h2>

            <table class="table table-condensed table-responsive table-row-link">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>NPI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Naperville Imaging Center</a></td>
                        <td>(212) 555-0112</td>
                        <td>Naperville</td>
                        <td>1972557668</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Upright MRI of Deerfield</a></td>
                        <td>847-291-9321</td>
                        <td>Deerfield</td>
                        <td>1972541225</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Imaging Centers of America, Inc. </a></td>
                        <td>630-898-3333</td>
                        <td>Aurora</td>
                        <td>1952678468</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Open MRI of Olympia Fields, LLC</a></td>
                        <td>708-481-9800</td>
                        <td>Olympia Fields</td>
                        <td>1922034313</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Chicago Northside MRI</a></td>
                        <td>7735252818</td>
                        <td>Chicago</td>
                        <td>1902956923</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Midwest Imaging and Diagnostic Center, Inc.</a></td>
                        <td>708-423-9982</td>
                        <td>Oak Lawn</td>
                        <td>1902844541</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock body %}