{% extends "logged_in.html" %}

{% block content %}

<div class="row">
    <div class="col-md-10">

        <h1><small>Providers <a href="{% url '/providers/new/index.html' %}" class="btn btn-success btn-sm btn-success-outline"><span class="glyphicon glyphicon-plus"></span> Add provider</a></small></h1>

        <nav>
            <ul class="pagination pagination-sm">
                <li><a href="{% url '/providers/n.html' %}">A</a></li>
                <li><a href="{% url '/providers/n.html' %}">B</a></li>
                <li><a href="{% url '/providers/n.html' %}">C</a></li>
                <li><a href="{% url '/providers/n.html' %}">D</a></li>
                <li><a href="{% url '/providers/n.html' %}">E</a></li>
                <li><a href="{% url '/providers/n.html' %}">F</a></li>
                <li><a href="{% url '/providers/n.html' %}">G</a></li>
                <li><a href="{% url '/providers/n.html' %}">H</a></li>
                <li><a href="{% url '/providers/n.html' %}">I</a></li>
                <li><a href="{% url '/providers/n.html' %}">J</a></li>
                <li><a href="{% url '/providers/n.html' %}">K</a></li>
                <li><a href="{% url '/providers/n.html' %}">L</a></li>
                <li><a href="{% url '/providers/n.html' %}">M</a></li>
                <li class="active"><a href="{% url '/providers/n.html' %}">N</a></li>
                <li><a href="{% url '/providers/n.html' %}">O</a></li>
                <li><a href="{% url '/providers/n.html' %}">P</a></li>
                <li><a href="{% url '/providers/n.html' %}">Q</a></li>
                <li><a href="{% url '/providers/n.html' %}">R</a></li>
                <li><a href="{% url '/providers/n.html' %}">S</a></li>
                <li><a href="{% url '/providers/n.html' %}">T</a></li>
                <li><a href="{% url '/providers/n.html' %}">U</a></li>
                <li><a href="{% url '/providers/n.html' %}">V</a></li>
                <li><a href="{% url '/providers/n.html' %}">W</a></li>
                <li><a href="{% url '/providers/n.html' %}">X</a></li>
                <li><a href="{% url '/providers/n.html' %}">Y</a></li>
                <li><a href="{% url '/providers/n.html' %}">Z</a></li>
            </ul>
        </nav>

        <div class="table-responsive">
            <table class="table table-condensed table-row-link">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>NPI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{% url '/providers/12345/index.html' %}">Naperville Imaging Center</a></td>
                        <td>630-717-3700</td>
                        <td>Naperville</td>
                        <td>1972557668</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <nav class="pull-right">
                <ul class="pagination pagination-sm">
                    <li><a href="#">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </nav>
            <nav class="text-center">
                <ul class="pagination pagination-sm">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>

{% endblock %}