{% extends "logged_in.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <section>

            <h1><small><a href="{% url '/appointments/index.html' %}">Appointments</a> <a href="{% url '/appointments/new/1.html' %}" class="btn btn-success btn-sm btn-success-outline"><span class="glyphicon glyphicon-plus"></span> Create appointment</a></small></h1>

            <div class="table-responsive">
                <table class="table table-condensed table-row-link">
                  <thead>
                      <tr>
                          <th class="text-right">Date</th>
                          <th>Patient</th>
                          <th>Provider</th>
                          <th>Procedure</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/14/2015</a></td>
                          <td>Don Draper</td>
                          <td>Naperville Imaging Center</td>
                          <td>X-Ray- Orthopedic</td>
                          <td><span class="label label-default">Requested</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/7/2015</a></td>
                          <td>Peggy Olson</td>
                          <td>Upright MRI of Deerfield</td>
                          <td>DEXA- Bone Density</td>
                          <td><span class="label label-warning">Booked</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/30/2015</a></td>
                          <td>Pete Campbell</td>
                          <td>Imaging Centers of America, Inc. </td>
                          <td>Mammogram- Diagnostic</td>
                          <td><span class="label label-success">Confirmed</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/23/2015</a></td>
                          <td>Betty Francis</td>
                          <td>Open MRI of Olympia Fields, LLC</td>
                          <td>Mammogram- Screening</td>
                          <td><span class="label label-info">Completed</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/16/2015</a></td>
                          <td>Joan Harris</td>
                          <td>Chicago Northside MRI</td>
                          <td>MRI- Orthopedic Without then With Contrast Medium</td>
                          <td><span class="label label-primary">Rescheduled</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/9/2015</a></td>
                          <td>Roger Sterling</td>
                          <td>Midwest Imaging and Diagnostic Center, Inc.</td>
                          <td>MRI- Orthopedic With Contrast Medium</td>
                          <td><span class="label label-danger">Canceled</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/14/2015</a></td>
                          <td>Don Draper</td>
                          <td>Naperville Imaging Center</td>
                          <td>X-Ray- Orthopedic</td>
                          <td><span class="label label-default">Requested</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">10/7/2015</a></td>
                          <td>Peggy Olson</td>
                          <td>Upright MRI of Deerfield</td>
                          <td>DEXA- Bone Density</td>
                          <td><span class="label label-warning">Booked</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/30/2015</a></td>
                          <td>Pete Campbell</td>
                          <td>Imaging Centers of America, Inc. </td>
                          <td>Mammogram- Diagnostic</td>
                          <td><span class="label label-success">Confirmed</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/23/2015</a></td>
                          <td>Betty Francis</td>
                          <td>Open MRI of Olympia Fields, LLC</td>
                          <td>Mammogram- Screening</td>
                          <td><span class="label label-info">Completed</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/16/2015</a></td>
                          <td>Joan Harris</td>
                          <td>Chicago Northside MRI</td>
                          <td>MRI- Orthopedic Without then With Contrast Medium</td>
                          <td><span class="label label-primary">Rescheduled</span></td>
                      </tr>
                      <tr>
                          <td class="text-right"><a href="{% url '/appointments/12345/index.html' %}">9/9/2015</a></td>
                          <td>Roger Sterling</td>
                          <td>Midwest Imaging and Diagnostic Center, Inc.</td>
                          <td>MRI- Orthopedic With Contrast Medium</td>
                          <td><span class="label label-danger">Canceled</span></td>
                      </tr>
                  </tbody>
                </table>
            </div>
            <p class="text-right"><a href="{% url '/appointments/index.html' %}" class="btn btn-default btn-sm btn-space">More appointments</a></p>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <section>
            <h2><small><a href="{% url '/patients/index.html' %}" class="block">Patients</a></small></h2>
            <div class="table-responsive">
                <table class="table table-condensed table-small table-row-link">
                    <thead>
                        <tr>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url '/patients/don-draper/index.html' %}">Campbell</a></td>
                            <td>Pete</td>
                            <td>(212) 555-0112</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/patients/don-draper/index.html' %}">Draper</a></td>
                            <td>Don</td>
                            <td>(212) 555-0112</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/patients/don-draper/index.html' %}">Francis</a></td>
                            <td>Betty</td>
                            <td>(212) 555-0112</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/patients/don-draper/index.html' %}">Harris</a></td>
                            <td>Joan</td>
                            <td>(212) 555-0112</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/patients/don-draper/index.html' %}">Olson</a></td>
                            <td>Peggy</td>
                            <td>(212) 555-0112</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-right"><a href="{% url '/patients/index.html' %}" class="btn btn-default btn-xs btn-space">More patients</a></p>
        </section>
    </div>
    <div class="col-md-6">
        <section>
            <h2><small><a href="{% url '/providers/index.html' %}" class="block">Providers</a></small></h2>
            <div class="table-responsive">
                <table class="table table-condensed table-small table-row-link">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url '/providers/12345/index.html' %}">Naperville Imaging Center</a></td>
                            <td>630-717-3700</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/providers/12345/index.html' %}">Upright MRI of Deerfield</a></td>
                            <td>847-291-9321</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/providers/12345/index.html' %}">Imaging Centers of America, Inc. </a></td>
                            <td>630-898-3333</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/providers/12345/index.html' %}">Open MRI of Olympia Fields, LLC</a></td>
                            <td>708-481-9800</td>
                        </tr>
                        <tr>
                            <td><a href="{% url '/providers/12345/index.html' %}">Chicago Northside MRI</a></td>
                            <td>7735252818</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-right"><a href="{% url '/providers/index.html' %}" class="btn btn-default btn-xs btn-space">More providers</a></p>
        </section>
    </div>
</div>
{% endblock %}
