{% extends "logged_out.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="page-header">
                <h1 class="text-center">Page not found</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">

            <section>
                <p class="text-center">We're sorry, but the page <b id="url"></b> could not be found.</p>
            </section>
            <section>
                <p class="text-center"><a href="{% url '/index.html' %}" class="btn btn-default">Return home</a></p>
            </section>

        </div>
    </div>
</div>

{% endblock body %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Add the missing url to the text
        $("#url").text(window.location.pathname);

        // Fix the css locations dynamically
        $("head link").each(function() {
        for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
            $(this).attr("href", "../" + $(this).attr("href"));
        });
    });
</script>
{% endblock %}
