{% extends "logged_out.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="page-header">
                <h1 class="text-center">Support</h1>
            </div>
            <p class="text-center"><a href="mailto:info@nexthealthchoice.com" class="btn btn-default">info@nexthealthchoice.com</a> <a href="tel:+18446298766" class="btn btn-default">(844) 629-8766</a></p>
        </div>
    </div>
</div>

{% endblock %}
