{% extends "logged_in.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Schedule appointment <small>{% block wizard_title %}{% endblock %}</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

            <ul class="nav-nhc nav nav-pills nav-stacked">
                {% block wizard_nav %}
                {% endblock %}
            </ul>

        </div>
        {% block wizard_form_outer %}
        <div class="col-md-6">
            {% block wizard_form %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>

{% endblock %}
