{% extends "logged_in.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>MRI</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert">
                <p>The appointment has been created.</p>
                <p><a href="#" class="btn btn-success">Send a confirmation email to patient</a></p>
            </div>

        </div>
    </div>
</div>

{% endblock body %}
