{% extends "logged_in.html" %}

{% block content %}
<div class="row">
    <div class="col-md-9">

        <h1><small>Patients <a href="{% url '/patients/new/index.html' %}" class="btn btn-success btn-sm btn-success-outline"><span class="glyphicon glyphicon-plus"></span> Add patient</a></small></h1>

        <div class="table-responsive">
            <table class="table table-condensed table-row-link">
                <thead>
                    <tr>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Phone</th>
                        <th>Date of birth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{% url '/patients/don-draper/index.html' %}">Campbell</a></td>
                        <td>Pete</td>
                        <td>(212) 555-0112</td>
                        <td>6/1/1926</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/patients/don-draper/index.html' %}">Draper</a></td>
                        <td>Don</td>
                        <td>(212) 555-0112</td>
                        <td>6/1/1926</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/patients/don-draper/index.html' %}">Francis</a></td>
                        <td>Betty</td>
                        <td>(212) 555-0112</td>
                        <td>6/1/1926</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/patients/don-draper/index.html' %}">Harris</a></td>
                        <td>Joan</td>
                        <td>(212) 555-0112</td>
                        <td>6/1/1926</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/patients/don-draper/index.html' %}">Olson</a></td>
                        <td>Peggy</td>
                        <td>(212) 555-0112</td>
                        <td>6/1/1926</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '/patients/don-draper/index.html' %}">Sterling</a></td>
                        <td>Roger</td>
                        <td>(212) 555-0112</td>
                        <td>6/1/1926</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav>
            <ul class="pagination pagination-sm">
                <li><a href="{% url '/patients/d.html' %}">A</a></li>
                <li><a href="{% url '/patients/d.html' %}">B</a></li>
                <li><a href="{% url '/patients/d.html' %}">C</a></li>
                <li><a href="{% url '/patients/d.html' %}">D</a></li>
                <li><a href="{% url '/patients/d.html' %}">E</a></li>
                <li><a href="{% url '/patients/d.html' %}">F</a></li>
                <li><a href="{% url '/patients/d.html' %}">G</a></li>
                <li><a href="{% url '/patients/d.html' %}">H</a></li>
                <li><a href="{% url '/patients/d.html' %}">I</a></li>
                <li><a href="{% url '/patients/d.html' %}">J</a></li>
                <li><a href="{% url '/patients/d.html' %}">K</a></li>
                <li><a href="{% url '/patients/d.html' %}">L</a></li>
                <li><a href="{% url '/patients/d.html' %}">M</a></li>
                <li><a href="{% url '/patients/d.html' %}">N</a></li>
                <li><a href="{% url '/patients/d.html' %}">O</a></li>
                <li><a href="{% url '/patients/d.html' %}">P</a></li>
                <li><a href="{% url '/patients/d.html' %}">Q</a></li>
                <li><a href="{% url '/patients/d.html' %}">R</a></li>
                <li><a href="{% url '/patients/d.html' %}">S</a></li>
                <li><a href="{% url '/patients/d.html' %}">T</a></li>
                <li><a href="{% url '/patients/d.html' %}">U</a></li>
                <li><a href="{% url '/patients/d.html' %}">V</a></li>
                <li><a href="{% url '/patients/d.html' %}">W</a></li>
                <li><a href="{% url '/patients/d.html' %}">X</a></li>
                <li><a href="{% url '/patients/d.html' %}">Y</a></li>
                <li><a href="{% url '/patients/d.html' %}">Z</a></li>
            </ul>
        </nav>

    </div>
</div>
{% endblock %}