{% extends "logged_in.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">

        <h1><small>Settings</small></h1>

        <ul class="nav nav-tabs">
            <li><a href="{% url '/settings/facility.html' %}">Facility</a></li>
            <li><a href="{% url '/settings/orderers/index.html' %}">Orderers</a></li>
            <li><a href="{% url '/settings/account.html' %}">Account</a></li>
            <li class="active"><a href="{% url '/settings/password.html' %}">Password</a></li>
        </ul>

        <form action="" method="post">
            <section>
                <div class="form-group">
                    <label for="password">Current password</label>
                    <input type="password" class="form-control" id="password" value="" placeholder="" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="password1">New password</label>
                    <input type="password" class="form-control" id="password1" value="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="password2">New password (again)</label>
                    <input type="password" class="form-control" id="password2" value="" placeholder="">
                </div>
            </section>
            <section>
                <p class="pull-left"><a href="{% url '/dashboard.html' %}" class="btn btn-default">Cancel</a></p>
                <p class="pull-right"><a href="{% url '/settings/password.html' %}" class="btn btn-success">Save changes</a></p>
            </section>
        </form>

    </div>
</div>

{% endblock %}
