{% extends "logged_in.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">

        <h1><small>Settings</small></h1>

        <ul class="nav nav-tabs">
            <li><a href="{% url '/settings/facility.html' %}">Facility</a></li>
            <li><a href="{% url '/settings/account.html' %}">Account</a></li>
            <li class="active"><a href="{% url '/settings/password.html' %}">Password</a></li>
        </ul>

        <form action="" method="post">
            <p>Password data will go here.</p>
            <section>
                <h2><small>&nbsp;</small></h2>
                <p class="pull-left"><a href="{% url '/dashboard.html' %}" class="btn btn-default">Cancel</a></p>
                <p class="pull-right"><a href="{% url '/settings/account.html' %}" class="btn btn-success">Save changes</a></p>
            </section>
        </form>

    </div>
</div>

{% endblock %}
